#education {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 0)
    ),
    url(/assets/cad.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
