<div
  *ngFor="let carouselItem of carouselItems"
  class="carousel-item {{ carouselItem.isactive }}"
  [ngStyle]="{ 'background-image': ' url(' + carouselItem.image + ')' }"
>
  <div class="carousel-caption text-left text-secondary">
    <!-- carousel-item title -->

    <div class="carousel-text text-secondary lead p-4">
      <div class="carousel-title m-0 p-0 _animate">
        {{ carouselItem.title }}
      </div>
      <div class="carousel-subtitle m-0 p-0 _animate">
        {{ carouselItem.subtitle }}
      </div>
      <div class="_animate">{{ carouselItem.text }}</div>
      <div *ngIf="carouselItem.icons" class="pt-4 _animate">
        <i class="fab fa-html5 fa-2x text-primary mr-3"></i>
        <i class="fab fa-css3-alt fa-2x text-primary mr-3"></i>
        <i class="fab fa-sass fa-2x text-primary mr-3"></i>
        <i class="fab fa-bootstrap fa-2x text-primary mr-3"></i>
        <i class="fab fa-angular fa-2x text-primary mr-3"></i>
      </div>
    </div>

    <div *ngIf="carouselItem.icons" class="_animate">
      <a href="#projects" class="btn my-4">
        <i class="fas fa-briefcase fa-lg"></i> View Portfolio
      </a>
    </div>

    <div *ngIf="!carouselItem.icons" class="_animate">
      <a
        href="/assets/Natalia_Shport_CV_21.pdf"
        alt="CV in PDF format"
        download
        class="btn mt-4 mr-4"
      >
        <i class="fas fa-file-pdf fa-lg"></i> Download pdf CV </a
      ><br />
      <a
        href="/assets/Natalia_Shport_CV_21.docx"
        alt="CV in DOCX format"
        download
        class="btn mt-4 mr-4"
      >
        <i class="fas fa-file-word fa-lg"></i> Download docx CV
      </a>
    </div>
  </div>
</div>
