.carousel-item {
  height: 100vh;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  opacity: 0;
  transition: all 2s ease 0s;
  &.active {
    opacity: 1;
    transition: all 2s ease 0s;
  }
}

.carousel-caption {
  left: 10%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  text-align: left;
}

.carousel-title {
  font-size: 2.5em;
  line-height: 1em;
}

.carousel-subtitle {
  font-size: 2.5em;
  line-height: 1.2em;
}

.carousel-text {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.95) 20%,
    rgba(255, 255, 255, 0)
  );
}
