.carousel-caption {
    position: absolute;
    left: 10%;
    top: 20px;
    z-index: 10;
    color: #fff;
    text-align: left;
}

.bold {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 0;
    font-weight: 700;
    opacity: 0.33;
}

