<div *ngFor="let carouselItem of carouselItems" class="carousel-item {{ carouselItem.isactive }}">
  <img src="{{ carouselItem.image }}" class="d-block w-100" alt="">
  <div class="carousel-caption d-md-block">

    <div class="text-secondary text-left">
      <div class="display-4 text-primary bold text-nowrap">{{ carouselItem.title }}</div>
      <h1 class="display-4 mt-4">{{ carouselItem.subtitle }}</h1>
      <p class="lead mb-4">{{ carouselItem.text }}</p>

      <div *ngIf="carouselItem.icons">
        <div>
          <i class="fab fa-html5 fa-3x text-primary mr-3"></i>
          <i class="fab fa-css3-alt fa-3x text-primary mr-3"></i>
          <i class="fab fa-sass fa-3x text-primary mr-3"></i>
          <i class="fab fa-bootstrap fa-3x text-primary mr-3"></i>
          <i class="fab fa-angular fa-3x text-primary mr-3"></i>
        </div>
        <div >
          <a href="#projects" class="btn btn-outline-primary bg-light mt-4">
            <i class="fas fa-briefcase"></i> View Portfolio
          </a>
        </div>
      </div>
  
      <div *ngIf="!carouselItem.icons">
        <a href="/N_Shport_Resume.pdf" download class="btn btn-outline-primary bg-light mt-4">
          <i class="fas fa-file-download"></i> Download CV
        </a>
      </div>

    </div>

  </div>
</div>