<section id="about">
  <div id="my-resume-carousel" class="carousel slide animated fadeInRight" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#my-resume-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#my-resume-carousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <app-carousel-item [carouselItems]=aboutData.carouselitems ></app-carousel-item>
    </div>
  </div><!-- carousel -->
  <div id="summary" class="container-fluid jumbotron lead p-5 animated fadeInUp">
    <p>My name is Natalia. I am a web developer. I have 7 years of working experience in a web design studio, was promoted to a team lead position and then left my dream job due to family needs and due to moving to the USA. After 10 years out of work, I am going to get my career back.</p>
    <p>For now, I am learning modern frameworks, Angular and React, improving knowledge in developing responsive layouts for all desktop and mobile devices, discovering ways of using API, working with version control tools.</p>
    <p>Considering an entry-level position.</p>
      
  </div>
</section><!-- //About section -->
