<section id="about">
  <div id="my-resume-carousel" class="carousel slide animated fadeInRight" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#my-resume-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#my-resume-carousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <app-carousel-item [carouselItems]=aboutData.carouselitems ></app-carousel-item>
    </div>
  </div><!-- carousel -->
  <div id="summary" class="section container-fluid animated fadeInUp">
      <app-section-title title="About" subtitle="About me"></app-section-title>
    <div class="lead px-4">
      <p>My name is Natalia. I am a web developer. I had 7 years of  experience working in a web-design studio, got a team lead position and then left my dream job due to family needs and moved to the USA. After 10 years gap, I am going to start my career again.</p>
      <p>For now, I am learning modern frameworks - Angular and React, improving knowledge in developing responsive layouts for all desktop and mobile devices, discovering ways of using API, working with version control tools.</p>
      <p>Considering entry-level positions.</p>
  </div>
  </div>
</section><!-- //About section -->
