<!-- Contacts section -->
<section id="contacts" style="min-height: 500px;" class="container-fluid animated fadeInUp">
  <app-section-title title="Contacts" subtitle="Contacts"></app-section-title>
  <div class="row">
    <div class="col-6">
      {{ myData.name }}
      <div class="card-body text-center">
        <h5 class="card-title">vcbncbvnc</h5>
        <p><small>gnbvbb</small></p>
        <p class="card-text">vbncvn</p>
      </div>
    </div>
    <div class="col-6">
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

        <h5 *ngIf="success">Your form is valid!</h5>
    
        <label>
          Name:
          <input type="text" formControlName="name">
          <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
            <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
          </div>
        </label>
      
        <label>
          Message:
          <textarea formControlName="message"></textarea>
          <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
            <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
          </div>
        </label>
    
        <input type="submit" value="Send message" class="cta">
      
      </form>
    
      <div *ngIf="submitted" class="results">
        <strong>Name:</strong> 
        <span>{{ messageForm.controls.name.value }}</span>
    
        <strong>Message:</strong> 
        <span>{{ messageForm.controls.message.value }}</span>
      </div>


    </div>
  </div>
</section>
<!-- //Contacts section -->