<section id="experience" *ngIf="experienceData">
  <app-section-title
    title="Experience"
    subtitle="Work Experience"
  ></app-section-title>

  <div class="row _animate">
    <div
      *ngFor="let position of experienceData"
      class="col-sm-12 col-md-6 mb-4"
    >
      <div class="card mb-sm-0">
        <a
          class="card-header collapsed"
          data-toggle="collapse"
          href="#collapse{{ position.id }}"
          role="button"
          aria-expanded="false"
        >
          <h3 class="card-title m-0">{{ position.title }}</h3> </a
        ><!-- card-header -->

        <div class="card-body text-left">
          <div class="text-right">
            <small *ngIf="position.dates.start.year">{{
              position.dates.start.year
            }}</small>
            <small *ngIf="position.dates.end.year">
              - {{ position.dates.end.year }}</small
            >
          </div>
          <div>
            <a href="{{ position.url }}" target="_blank" rel="noreferrer">
              {{ position.company }}</a
            ><br />
            <small>{{ position.location }}</small>
          </div>
          <div id="collapse{{ position.id }}" class="card-text collapse">
            <hr />
            <ul>
              <li
                *ngFor="let responsibility of position.responsibilities"
                class="text-left"
              >
                {{ responsibility }}
              </li>
            </ul>
            <div *ngIf="position.clients" class="text-secondary">
              <div class="text-muted">Key projects:</div>
              <div *ngFor="let clients of position.clients">
                <a href="{{ clients.url }}" target="_blank" rel="noreferrer">{{
                  clients.name
                }}</a>
              </div>
            </div>
          </div>
          <!-- card-text -->
        </div>
        <!-- card-body -->
      </div>
      <!-- card -->
    </div>
  </div>
  <!-- row -->
</section>
<!-- //Experience section -->
