.section-title {
  position: absolute;
  top: 0px;
  left: -10px;
  right: 0;
  font-weight: 700;
  opacity: 0.33;
  z-index: 20;
}

.section-subtitle {
  position: relative;
  padding-top: 60px;
  right: 0;
  z-index: 30;
}
