<section id="projects" *ngIf="projectsData" class="animated scrollanimated">
  <app-section-title
    title="Projects"
    subtitle="Projects done"
  ></app-section-title>
  <div class="row">
    <div
      *ngFor="let project of projectsData; index as i"
      class="col-sm-12 col-md-6 mb-4 animated scrollanimated showfromleft"
    >
      <div id="project{{ i }}" class="project card h-100">
        <div id="project{{ i }}-1" class="front card-body text-center">
          <img
            src="/assets/{{ project.shortname }}.webp"
            class="img-fluid m-0"
          />
        </div>
        <!-- card-body --><!-- front -->

        <div
          id="project{{ i }}-2"
          class="back card-body text-center bg-light h-100"
        >
          <h4 class="card-title mb-0 text-warning display-6">
            {{ project.projectname }}
          </h4>
          <div>
            <small class="text-secondary">
              <span *ngIf="project.dates.start.year">{{
                project.dates.start.year
              }}</span>
              <span *ngIf="project.dates.end">
                - {{ project.dates.end.year }}</span
              >
            </small>
          </div>
          <div>
            <p class="card-text">{{ project.description }}</p>
            <span *ngFor="let technology of project.technologies">
              <img
                src="/assets/icons/icon-{{ technology }}.png"
                alt="{{ technology }}"
                class="icon text-primary m-2"
              />
            </span>
          </div>
          <div class="p-4 w-100">
            <span class="p-2" *ngIf="project.code">
              <a href="{{ project.code }}" class="btn" target="_blank">Code</a>
            </span>
            <span class="p-2" *ngIf="project.demo">
              <a href="{{ project.demo }}" class="btn" target="_blank">Demo</a>
            </span>
          </div>
        </div>
        <!-- card-body --><!-- back -->
      </div>
      <!-- project --><!-- card -->
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</section>
<!-- //Projects section -->
