.icon {
  height: 25px;
}

.project._animate {
  overflow: hidden;
  .front,
  .back {
    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 0.8s ease 0s;
  }

  &._active {
    .front,
    .back {
      opacity: 1;
      transform: translate(0, 0px);
    }
    .back {
      transition: all 0.8s ease 0.8s;
    }
  }
}
