<!-- Projects section -->
<section id="projects">    
  <div *ngIf="projectsData">
    <app-section-title title="Projects" subtitle="Projects"></app-section-title>
    <div class="row">
      <div 
        *ngFor="let project of projectsData" 
        class="col-sm-12 col-md-6 mb-4 animate-box fadeInUp animated" data-animate-effect="fadeInTop">
        <div class="card h-100">
          <div class="card-body text-center">
            <h5 class="card-title">{{ project.projectname }}</h5>
            <div>
              <small>
                <span *ngIf="project.dates.start.year">{{ project.dates.start.year }}</span>
                <span *ngIf="project.dates.end"> - {{ project.dates.end.year }}</span>
              </small>
            </div>
            <p class="card-text">{{ project.description }}</p>
            <span *ngFor="let technology of project.technologies">
              <i class="fab fa-{{ technology }} fa-2x text-primary m-2"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //Projects section -->