<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fas fa-bars fa-2x"></i>
</button> -->

<div id="my-resume-menu-toggler" class="d-sm-block d-lg-none position-fixed fixed-left m-2">
  <a href="#" class="navbar-toggler" data-toggle="collapse" data-target="#aside" aria-expanded="true" aria-controls="aside">
      <i class="fas fa-bars fa-2x"></i>
  </a>  
</div>

<aside id="aside" class="collapse navbar-collapse d-sm-none d-lg-block position-fixed fixed-left float-left bg-light vh-100 animated fadeInLeft text-center">
  <div class="text-center">
    <div>
      <img src="https://images.unsplash.com/photo-1491947153227-33d59da6c448?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="My Picture" class="img-thumbnail" />
    </div>
    <h1 class="mt-4">{{ contactData.firstname }}</h1>      
    <div>{{ contactData.experience[0].title }}</div>
    <small>{{ contactData.address.city }}, {{ contactData.address.state }}</small>
    <p><a href="mailto:{{ contactData.email }}">{{ contactData.email }}</a></p>
    <p>{{ contactData.phone }}</p>
  </div>

  <nav id="my-resume-navigation" role="navigation" class="nav navbar text-center flex-column mt-4">
    <a class="nav-link" href="#about">About</a>
    <a class="nav-link" href="#skills">Skills</a>
    <a class="nav-link" href="#experience">Experience</a>
    <a class="nav-link" href="#education">Education</a>
    <a class="nav-link" href="#projects">Projects</a>
    <a class="nav-link" href="#contacts">Contacts</a>
  </nav>
</aside>