#my-resume-menu-toggler {
  z-index: 1010;
}

#my-resume-title {
  background-image: url(/assets/nav-bg.webp);
  background-size: 130%;
  background-position: bottom right;
  width: 100%;
  height: 40%;
  min-height: 300px;
  display: flex;
  align-content: center;
  justify-content: center;

  div {
    margin: auto;
  }
}

.nav-link {
  text-transform: uppercase;
  font-size: 0.9em;
  border-radius: 0;
  margin: 0s;

  &:hover,
  &:active {
    background-color: var(--info);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    filter: grayscale(10%);
    color: white;
  }
}

.show {
  display: block !important;
}
