<div
  id="my-resume-menu-toggler"
  class="d-sm-block d-lg-none position-fixed fixed-top text-right m-2"
>
  <a
    href="#"
    class="btn-service btn mr-3"
    data-toggle="collapse"
    data-target="#aside"
    aria-expanded="true"
    aria-controls="aside"
  >
    <i class="fas fa-bars fa-1x"></i>
  </a>
</div>

<aside
  id="aside"
  class="collapse navbar-collapse d-sm-none d-lg-block position-fixed fixed-left float-left bg-light vh-100 text-center"
>
  <div id="my-resume-title" class="_animate">
    <div>
      <h1 class="px-2">
        {{ contactData.firstname }}<br /><span class="text-warning">{{
          contactData.lastname
        }}</span>
      </h1>
      <div>{{ contactData.title }}</div>
      <small
        >{{ contactData.address.city }}, {{ contactData.address.state }}</small
      >
      <div class="mx-2">
        <a href="mailto:{{ contactData.email }}">{{ contactData.email }}</a>
      </div>
      <p>{{ contactData.phone }}</p>
    </div>
  </div>

  <nav
    id="my-resume-navigation"
    role="navigation"
    class="nav navbar text-center flex-column my-1 nav-pills _animate"
  >
    <a class="nav-link active" href="#about">About</a>
    <a class="nav-link" href="#skills">Skills</a>
    <a class="nav-link" href="#experience">Experience</a>
    <a class="nav-link" href="#education">Education</a>
    <a class="nav-link" href="#projects">Projects</a>
  </nav>
  <div class="mb-2 _animate">
    <span *ngFor="let profile of contactData.profiles">
      <a
        *ngIf="profile.url"
        href="{{ profile.url }}"
        rel="noreferrer"
        target="_blank"
      >
        <i class="{{ profile.icon }} fa-2x m-1"></i>
      </a>
    </span>
  </div>

  <div class="mb-3 _animate">
    <div class="m-0 p-0"><small>©2020 Natalia Shport</small></div>
    <div class="m-0 p-0">
      <small
        >Images:
        <a href="http://unsplash.com" rel="noreferrer" target="_blank"
          >Unsplash.com</a
        ></small
      >
    </div>
  </div>
</aside>
