#my-resume-menu-toggler {
    z-index: 1010;
}

#my-resume-title {
    background: var(--my-mid-gray);
    padding: 2rem 1em 2rem 1em;
    width: 100%;

}

.nav-link {
    text-transform: uppercase;
    font-size: 0.9em;
    border-radius: 0;
    margin: 2px;
    &:hover, &:active {
        background-color: var(--info);
        box-shadow: 0 5px 10px rgba(0,0,0,0.25), 
                    0 5px 10px rgba(0,0,0,0.20);
        transform: translateY(-1px);
        filter: grayscale(10%);
        color: white;
    }
}

.show {
    display: block !important;
    
}