#aside {
    width: 300px;
    position: relative;
    min-height: 400px;
    height: 100%;
    overflow-y: scroll;
    z-index: 1000;
}
  
#my-resume-menu-toggler {
    z-index: 1001;
}

.nav-link {
    text-transform: uppercase
}
  
.show {
    display: block !important;
}