<div class="clearfix container-fluid overflow-hidden">
   
  <app-nav [contactData]=myData></app-nav>

  <main id="main" class="float-right">
    <!-- <router-outlet></router-outlet> -->

    <!-- Summary section -->
    <section id="about" class="container-fluid animated fadeInUp" style="min-height: 500px" >
      <h1 class="display-4">{{ myData.name }}</h1>
      <p class="lead">{{ myData.summary }}</p>
      <i class="fab fa-html5 fa-3x text-primary m-2"></i>
      <i class="fab fa-css3-alt fa-3x text-primary m-2"></i>
      <i class="fab fa-sass fa-3x text-primary m-2"></i>
      <i class="fab fa-bootstrap fa-3x text-primary m-2"></i>
      <i class="fab fa-angular fa-3x text-primary m-2"></i>

      <div>
        <a href="#projects" class="btn btn-outline-primary mt-4" role="button" aria-pressed="true">
            <i class="fas fa-file-download"></i> Download CV
        </a>
      </div>
      <div>
        <a href="#projects" class="btn btn-outline-primary mt-4" role="button" aria-pressed="true">
          <i class="fas fa-briefcase"></i> View Portfolio
        </a>
      </div>
    </section>
    <!-- //Summary section -->

    <!-- Skills section -->
    <section id="skills" class="container-fluid animated fadeInUp">
      <div *ngIf="myData.skills">
        <h2>Skills:</h2>
        <div>
          <button class="btn btn-primary text-light btn-md m-1" *ngFor="let skill of myData.skills">{{ skill }}</button>
        </div>
      </div>
    </section>
    <!-- //Skills section -->
    
    <!-- Experience section -->
    <section id="experience" class="container-fluid animated fadeInUp">
      <div *ngIf="myData.experience">
        <h2>Experience</h2>
        <div class="row">
          <div 
            *ngFor="let position of myData.experience" 
            class="col-sm-12 col-md-6 animate-box fadeInUp animated mb-4" data-animate-effect="fadeInTop">
            <div class="card mb-4 h-100">
              <div class="card-body text-left">
                <h5 class="card-title">{{ position.title }}</h5>
                
                <div class="clearfix">
                  <div class="float-left">
                    <small>
                      {{ position.company }}
                      <div>{{ position.location }}</div>
                    </small>
                  </div>
                  <div class="float-right">
                    <span *ngIf="position.dates.start.year">{{position.dates.start.year}}</span>
                    <span *ngIf="position.dates.end.year"> - {{position.dates.end.year}}</span>
                  </div>
                </div>

                <hr/>
                <div class="card-text">
                  <ul>
                    <li *ngFor="let responsibility of position.responsibilities" class="text-left">{{ responsibility }}</li>
                  </ul>
                  <div *ngIf="position.projects">
                    <h6>Key projects:</h6>
                    <div *ngFor="let keyproject of position.projects">{{ keyproject.url }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //Experience section -->

    <!-- Education section -->
    <section id="education" style="min-height: 500px;" class="container-fluid animated fadeInUp">    
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h2>Education</h2>
          <p class="lead">{{ myData.education.school }}</p>
          <p>{{ myData.education.degree }}</p>
          <p>{{ myData.education.field }}</p>
        </div>
      </div>
    </section>
    <!-- //Education section -->

    <!-- Projects section -->
    <section id="projects" style="min-height: 500px;" class="container-fluid animated fadeInUp">    
      <div *ngIf="myData.projects">
          <h2>Projects</h2>
          <div class="row">
            <div 
              *ngFor="let project of myData.projects" 
              class="col-sm-12 col-md-6 mb-4 animate-box fadeInUp animated" data-animate-effect="fadeInTop">
              <div class="card h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ project.projectname }}</h5>
                  <div>
                    <small>
                     <span *ngIf="project.dates.start.year">{{ project.dates.start.year }}</span>
                     <span *ngIf="project.dates.end"> - {{ project.dates.end.year }}</span>
                     
                    </small>
                  </div>
                  <p class="card-text">{{ project.description }}</p>
                  <span *ngFor="let technology of project.technologies">
                    <i class="fab fa-{{ technology }} fa-2x text-primary m-2"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </section>
    <!-- //Projects section -->

    <!-- Contacts section -->
    <section id="contacts" style="min-height: 500px;" class="container-fluid animated fadeInUp">
      <h2>Contacts</h2>
      <div class="row">
        <div class="col-6">
          <div class="card-body text-center">
            <h5 class="card-title">vcbncbvnc</h5>
            <p><small>gnbvbb</small></p>
            <p class="card-text">vbncvn</p>
          </div>
        </div>
        <div class="col-6">
            <!-- <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

                <h5 *ngIf="success">Your form is valid!</h5>
            
                <label>
                  Name:
                  <input type="text" formControlName="name">
                  <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
                    <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
                  </div>
                </label>
              
                <label>
                  Message:
                  <textarea formControlName="message"></textarea>
                  <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
                    <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
                  </div>
                </label>
            
                <input type="submit" value="Send message" class="cta">
              
              </form>
            
              <div *ngIf="submitted" class="results">
                <strong>Name:</strong> 
                <span>{{ messageForm.controls.name.value }}</span>
            
                <strong>Message:</strong> 
                <span>{{ messageForm.controls.message.value }}</span>
              </div> -->


        </div>
      </div>
    </section>
    <!-- //Contacts section -->
  </main>
</div>
