
$primary: #05bdda;

@import "../node_modules/bootstrap/scss/bootstrap";

section {
 padding-top: 50px;
}

#aside {
  width: 300px;
  position: relative;
  min-height: 400px;
  height: 100%;
  overflow-y: scroll;
  z-index: 1000;
}

#my-resume-menu-toggler {
  z-index: 1001;
}

#main {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  z-index: 999;
  @include media-breakpoint-up(lg) { 
    width: calc(100% - 300px); 
  }
  @include media-breakpoint-down(lg - 10px) { 
    width: 100%; 
  } 
}

.nav-link {
  text-transform: uppercase
}

.show {
  display: block !important;
}