
$primary: #05bdda;

@import "../node_modules/bootstrap/scss/bootstrap";

#main {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  z-index: 999;
  @include media-breakpoint-up(lg) { 
    width: calc(100% - 300px); 
  }
  @include media-breakpoint-down(lg - 10px) { 
    width: 100%; 
  } 
}