@import url("https://fonts.googleapis.com/css?family=Roboto:200,400,700");
$primary: #05bdda;
$bg-light: #f2f3f7;
$enable-responsive-font-sizes: true;
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/animate";

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.8;
  width: 100%;
  --bg-gray: #ededee;
  max-width: 2000px;
  margin: 0 auto;
}

#main {
  position: relative;
  height: 100%;
  min-width: 300px !important;
  overflow-y: scroll;
  z-index: 10;
  @include media-breakpoint-up(lg) {
    width: calc(100% - 300px);
  }
  @include media-breakpoint-down(lg - 10px) {
    width: 100%;
  }
}

#aside {
  position: relative;
  min-height: 400px;
  height: 100%;
  overflow-y: scroll;
  z-index: 1000;
  @include media-breakpoint-up(lg) {
    width: 300px;
  }
  @include media-breakpoint-down(md) {
  }
}

section,
.section {
  min-height: 300px;
  @extend .container-fluid;
  padding: 4em 0 0 0;
  margin: 2em 0;
}

.row {
  margin: 0;
  padding: 0 0.5em 0 0.5em;
  > div {
    margin: 0;
    padding: 0 0.5em 0 0.5em;
  }
}

.card {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: 0px 0px 26px -10px rgba(0, 0, 0, 0.17);
  border-bottom: 3px solid var(--warning);
  border-radius: 0px;
  margin: 0;
}

hr {
  height: 1px;
}

.btn {
  @extend .btn-primary;
  color: white !important;
  @extend .btn-sm;
  border-radius: 0;
  border: 0px;
  &:hover,
  &:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    filter: grayscale(10%);
  }
  &.btn-service {
    @extend .btn-primary;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.2);
    &:hover,
    &:active {
      box-shadow: none;
    }
  }
}

.scrollanimated {
  opacity: 0;
}
